.rating
{
    font-size: 20px;
    font-weight: 900;
    line-height: 40px;

    position: absolute;
    top: 20px;
    right: 50px;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: $red;
}

.portrait-container
{
    position: relative;
}

.portrait
{
    width: 150px;
    height: 150px;
    border: 5px solid $white;
}
